include radiobear/default_*.json
include radiobear/Jupiter/*.*
include radiobear/Saturn/*.*
include radiobear/Uranus/*.*
include radiobear/Neptune/*.*
include radiobear/Constituents/h2o/*.lin
recursive-include radiobear/Constituents *.npz
